<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Professor Virtual - Engenharia de Software</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">

  </head>

    <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Professor Virtual</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/dashboard">Home</a>
        <a class="p-2 text-dark" href="/chat">Chat</a>
        <a class="p-2 text-dark" href="/meusdados">Meus Dados </a>
        <a class="p-2 text-dark" href="/registro">Registro</a>
      </nav>
      <a class="btn btn-outline-primary" id="idLogoff" href="#">Log off</a>
    </div>

    <main role="main" class="container">


<head>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script>

        var nome;
        var context;

        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    if ($('#inputChat').val() !== '')
                        $("#btnChat").click();
                    return false;
                }
            });

            $.get('/api/validSession',
                function (response) {
                  if (response == false){
                    $(location).attr('href', '/login')
                  }
                }
            );

            // Start the chat
            $.get('/api/getVirtualProfessorInformation',
                  function (response) {
                    context = {
                      userNickName: response[0].userNickName,
                      virtualProfessorName: response[0].virtualProfessorName,
                      virtualProfessorGender: response[0].virtualProfessorGender,
                      userDifficultyLevel: response[0].userDifficultyLevel,
                      userResponseType: response[0].userResponseType
                    }
                    userNickName = response[0].userNickName;
                    //email = response[0].email;
                    sendMessage('');
                }
            );


            $("#btnChat").click(function () {
                $('#logChat').append('<p> <strong class="d-block text-gray-dark">' + userNickName + ':</strong> ' + $('#inputChat').val());
            		var objDiv = document.getElementById("scroll");
            		objDiv.scrollTop = objDiv.scrollHeight;
                sendMessage($('#inputChat').val());
            });
            function sendMessage(mensagem){
                $.post('/chat/mensagem',
                    {
                        mensagem: mensagem,
                        context: JSON.stringify(context)
                    },
                    function (data) {
                        context = data.context;
                          if (data.context.virtualProfessorGender == "male")
                            $('#logChat').append('<div class="media text-muted pt-3"><img src="https://marketplace.canva.com/MACHG5SxDWs/1/thumbnail_large/canva-man-with-glasses-icon-MACHG5SxDWs.png" height="40px" width="40px"><p> <strong class="d-block text-gray-dark">Professor ' + data.context.virtualProfessorName + ': </strong>' + data.output.text[0] + '</div>');
                          else
                            $('#logChat').append('<div class="media text-muted pt-3"><img src="https://www.dist113.org/cms/lib/IL01904711/Centricity/Domain/340/bitmoji.png" height="35px" width="35px"><p> <strong class="d-block text-gray-dark">Professora ' + data.context.virtualProfessorName + ': </strong>' + data.output.text[0] + '</div>');

                        var objDiv = document.getElementById("scroll");
                  			objDiv.scrollTop = objDiv.scrollHeight;

                        if (data.intents[0]!= null && data.input.text != ""){
                          if (Number(data.intents[0].confidence) < 0.8){
                            insertConversationRecord(data.input.text,data.intents[0].confidence);
                          }
                        }else if (data.input.text != "")
                          insertConversationRecord(data.input.text,null);

                    }
                );
                $('#inputChat').val('');
            }
        });

        function insertConversationRecord(input, confidence){
          $.post('/api/insertConversationRecord',
              {
                  userQuestion: input,
                  virtualProfessorConfidence: confidence
              },
              function (response) {

              }
          );
        }

        //Destroy current session
        $("#idLogoff").click(function(){
          $.get('/api/destroySession',
              function (response) {
                if (response == true){
                  $(location).attr('href', '/login')
                }
              }
          );
       });
    </script>
</head>

<body>
    <form id="formChat">
        <p id="tituloChat">
            <p>
                <h2>Chat</h2>
                <div class='scroll' id="scroll">
                  <div class="my-3 p-3 bg-white rounded box-shadow" >
                     <div id="logChat"  ></div>
                  </div>
                </div>
              </br>
              <div class="row">
                <div class="col-4">
                  <input type="text" class="form-control" id="inputChat">
                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-primary btn-block" id="btnChat">Enviar</button>
                </div>
              </div>
    </form>

</body>

</html>
