<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Professor Virtual - Engenharia de Software</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/login.css" rel="stylesheet">

  </head>

  <body class="text-center">
    <form class="form-signin">
      <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
      <h1 class="h3 mb-3 font-weight-normal">Área do Aluno</h1>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      <label for="inputPassword" class="sr-only">Senha</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
      <button class="btn btn-lg btn-primary btn-block" type="button" id="idSubmitLogin">Entrar</button>
      <br>
      <div class="alert alert-success"  style="display:none;" id="alertSuccess">Entrando... </div>
      <div class="alert alert-danger"  style="display:none;" id="alertError">Usuário ou senha inválido! </div>
      <p>Aluno novo? <a href="#">criar uma conta</a></p>



      <p class="mt-5 mb-3 text-muted"> Professor Virtual - Engenharia de Software &copy; 2018</p>
    </form>
  </body>
</html>
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
  $("#idSubmitLogin").click(function(){
    email = document.getElementById('inputEmail').value;
    password = document.getElementById('inputPassword').value;
    $.post('/api/login',
        {
            email: email,
            password: password
        },
        function (response) {
          if (response == true){
              console.log("LOG: authorized login");
              $("#alertSuccess").hide().show('medium');
              $(location).attr('href', '/dashboard')
          }else{
              console.log("LOG: login not authorized ");
              $("#alertError").hide().show('medium');

              //$('#alert').append('<div class="alert alert-danger" role="alert">Usuário ou senha inválido! </div>');

           // document.getElementById('idAlertUserPasswordInvalid').style.display = 'inline';
           // document.getElementById('idSpace').style.display = 'inline';
          }
        }
    );
 });

   // $("#idSubmitLogin").click(function(){
   //    email = document.getElementById('inputEmail').value;
   //    password = document.getElementById('inputPassword').value;
   //    $.ajax({
   //  				  method: "POST",
   //  				  url: "./login/checkUser",
   //  				  contentType: "application/json",
   //  				  data: JSON.stringify({email: email,
   //                                  password:password},
   //            )
   //  				}).done(function(response) {
   //              if (response == true){
   //                  console.log("LOG: authorized login");
   //                  $(location).attr('href', '/chat')
   //              }else{
   //                  console.log("LOG: login not authorized ");
   //               // document.getElementById('idAlertUserPasswordInvalid').style.display = 'inline';
   //               // document.getElementById('idSpace').style.display = 'inline';
   //              }
   //          });
  //});
 </script>
